

/* .video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: full;
    object-fit: cover; 
    z-index: -1; 
  } */
  
/* @media screen and (max-width: 640px){
    .video{
    object-fit: cover; 
    width: fit-content;
        height: fit-content;
    }
    .main-div{
        width: auto;
        height: 290px;
    }
} */
  